bin/*
obj/*
lib/*
eo/obj/*
eo/lib/*
py/build/*
py/dist/*
pybuild/*
py/MANIFEST
docs/*.pdf
compiler/obj/*
compiler/bin/*
build/*
tmp/*
*.o
*.a
*.gch
*.aux
*.log
*.toc
*.blg
*.bbl
*.synctex
*.synctex.gz
*.out
*.fdb_latexmk
*.swp
*.fls
__pycache__
*_net.txt
*_network.txt
*.net
*.caspian
